programmable_midi_switch_box/.pio
programmable_midi_switch_box/.pioenvs
programmable_midi_switch_box/.piolibdeps
programmable_midi_switch_box/.vscode/.browse.c_cpp.db*
programmable_midi_switch_box/.vscode/c_cpp_properties.json
programmable_midi_switch_box/.vscode/launch.json
